@charset "shift_jis";
/* CSS Document */

.mt5 {
margin-top:5px;
}
.mt10 {
margin-top:10px;
}
.mt20 {
margin-top:20px !important;
}

.txt_small {
	font-size:84%;
}
.list_indent {
	margin-left:1.8em;
	text-indent:-1.8em;
}
strong {
	font-size:130%;
}

.title-lv5 span span {
font-size:100% !important;
font-weight:normal;
}
