// *** 階層ナビ ***

.layeredNav {

  + {
    .layeredNav {
      margin-top: 10px;

      //PC
      @include mq(){
        margin-top: 30px;
      }
    }
  }

  .layeredNav__header,
  .layeredNav__footer {

    //PC
    @include mq(){
      cursor: pointer;
    }
  }

  //layeredNav--01
  &--01 {
    > figure > .layeredNav__header,
    > figure > .layeredNav__footer {
      + {
        .layeredNav__body {
          margin-top: sp_size(40);
        }
      }
      @include sp_font_size(70);
      font-weight: 700;
      line-height: 1;
      padding: sp_size(60) sp_size(100) sp_size(65) sp_size(20);
      border-top: 1px solid $athensGray;
      border-bottom: 1px solid $athensGray;
      position: relative;

      //SP
      @include mq(sp){
        margin-right: -(sp_size(20));
        margin-left: -(sp_size(20));
        .tle--lv1 {
          margin-top: 0;
        }
      }

      //PC
      @include mq(){
        border: none;
        @include font_size(46);
        .tle--lv1 {
          margin-top: 60px;
        }
      }

      &::after { //arrow
        content: "";
        display: inline-block;
        width: sp_size(25);
        height: sp_size(25);
        border: 1px solid $mineShaft;
        border-top: none;
        border-left: none;
        transform: rotateZ(45deg) ;
        position: absolute;
        top: 0;
        right: sp_size(44);
        bottom: 0;
        margin: auto;
        @include transition();

        //PC
        @include mq(){
          width: 14px;
          height: 14px;
          border-width: 2px;
        }
      }

      // layeredNav__body 展開時
      &.open {
        &::after {
          transform: rotateZ(-135deg) ;
        }
      }

      // Superscript
      span {
        @include sp_font_size(36);
        line-height: 1;

        //PC
        @include mq(){
          @include font_size(28);
        }

        &.super {
          @include sp_font_size(34);
          font-weight: 400;
          display: block;
          margin-bottom: sp_size(30);

          //PC
          @include mq(){
            @include font_size(20);
            font-weight: 700;
          }
        }
      }
    }
  }

  //layeredNav--02
  &--02 {
    + .layeredNav--02 {
      //会議
      margin-top: 10px;

      //PC
      @include mq(){
        //会議
        margin-top: 20px;
      }
    }

    > figure > .layeredNav__header,
    > figure > .layeredNav__footer {
      + {
        .layeredNav__body {
          margin-top: sp_size(70);
        }
      }
      @include sp_font_size(50);
      color: white;
      font-weight: 700;
      line-height: 1;
      background: $pictonBlue;
      padding: sp_size(60) sp_size(150) sp_size(60) sp_size(60);
      position: relative;

      //SP
      @include mq(sp){
        margin-right: -(sp_size(20));
        margin-left: -(sp_size(20));
      }

      //アイコン付き
      &.icn {
        padding-left: sp_size(130) !important;

        //PC
        @include mq(){
          padding-left: 140px !important;
        }

        //homeアイコン
        &.home {
          background: {
            image: url(/assets/img/common/icn_home--w.png);
            size: 24px;
            repeat: no-repeat;
            position: 10px center;
          }

          //PC
          @include mq(){
            background: {
              size: 63px;
              position: 40px center;
            }
          }
        }

        //マンションアイコン
        &.mansion {
          background: {
            image: url(/assets/img/common/icn_mansion--w.png);
            size: 20px;
            repeat: no-repeat;
            position: 12px center;
          }

          //PC
          @include mq(){
            background: {
              size: 56px;
              position: 45px center;
            }
          }
        }
      }

      //PC
      @include mq(){

        //todo from コンポーネント確認_171124b.pptx
        + {
          .layeredNav__body {
            margin-top: 40px;
          }
        }
        border: none;
        @include font_size(40);
        line-height: 1.5;
        padding: 30px 150px 30px 40px;
      }

      &::after { //arrow
        content: "";
        background: {
          color: white;
          image: url(../img/common/ico_lnav02_open.png);
          size: sp_size(60);
          repeat: no-repeat;
          position: center center;
        }
        display: inline-block;
        position: absolute;
        width: sp_size(100);
        top: sp_size(10);
        right: sp_size(10);
        bottom: sp_size(10);
        margin: auto;
        @include transition();

        //PC
        @include mq(){
          top: 10px;
          right: 10px;
          bottom: 10px;
          width: 60px;
          background-size: 40px;
        }
      }

      @include transition();
      &:hover {
        background: lighten($pictonBlue,10%);
      }

      // layeredNav__body 展開時
      &.open {
        &::after {
          background-image: url(../img/common/ico_lnav02_close.png);
        }
      }

      // Superscript
      span {
        @include sp_font_size(36);
        line-height: 1;

        //PC
        @include mq(){
          @include font_size(28);
        }

        &.super {
          @include sp_font_size(34);
          font-weight: 400;
          display: block;
          margin: sp_size(20) 0;

          //PC
          @include mq(){
            @include font_size(20);
            font-weight: 700;
            margin: 15px 0;
          }
        }
      }
    }


    // 影付き
    &.shadow {
      > figure > .layeredNav__header,
      > figure > .layeredNav__footer {
        @include box_shadow(rgba(0, 0, 0, 0.3) 0 15px 15px -15px);
        &.open {
          @include box_shadow(none);
        }
      }

    }

    &.pictonBlueLight {
      .layeredNav__header,
      .layeredNav__footer {
        background: $pictonBlueLight;
        @include transition();
        &:hover {
          background: lighten($pictonBlueLight,10%);
        }
      }
    }

  }

  //layeredNav--03
  &--03 {

    //PC
    @include mq(){
      margin-right: 0;
      margin-left: 0;
    }

     > figure > .layeredNav__header,
     > figure > .layeredNav__footer {
      + {
        .layeredNav__body {
          margin-top: sp_size(40);

          //PC
          @include mq(){
            margin-top: 40px;
          }
        }
      }
      @include sp_font_size(40);
      color: white;
      background: $doveGray;
      font-weight: 700;
      line-height: 1;
      padding: sp_size(60) sp_size(112) sp_size(60) sp_size(40);
      border-top: 1px solid $athensGray;
      border-bottom: 1px solid $athensGray;
      position: relative;

      //PC
      @include mq(){
        + .layeredNav--03 {
          margin-top: 40px;
        }
        border: none;
        @include font_size(30);
        padding: 40px 105px 40px 40px;
      }

      &::after { //arrow
        content: "";
        display: inline-block;
        width: sp_size(25);
        height: sp_size(25);
        border: 1px solid white;
        border-top: none;
        border-left: none;
        transform: rotateZ(45deg) ;
        position: absolute;
        top: 0;
        right: sp_size(20);
        bottom: 0;
        margin: auto;
        @include transition();

        //PC
        @include mq(){
          width: 14px;
          height: 14px;
          border-width: 2px;
          right: 20px;
        }
      }

      // layeredNav__body 展開時
      &.open {
        &::after {
          transform: rotateZ(-135deg) ;
        }
      }

      // Superscript
      span {
        @include sp_font_size(36);
        line-height: 1;

        //PC
        @include mq(){
          @include font_size(28);
        }

        &.super {
          @include sp_font_size(34);
          font-weight: 400;
          display: block;
          margin-bottom: sp_size(30);

          //PC
          @include mq(){
            @include font_size(20);
            font-weight: 700;
          }
        }
      }
    }

    // 影付き
    &.shadow {
      > figure > .layeredNav__header,
      > figure > .layeredNav__footer {
        @include box_shadow(rgba(0, 0, 0, 0.3) 0 15px 15px -15px);
        &.open {
          @include box_shadow(none);
        }
      }
    }

  }

  //layeredNav--03
  &--04 {

    //PC
    @include mq(){
      margin-right: 0;
      margin-left: 0;
    }

    > figure > .layeredNav__header,
    > figure > .layeredNav__footer {
      + {
        .layeredNav__body {
          margin-top: sp_size(40);

          //PC
          @include mq(){
            margin-top: 40px;
          }
        }
      }
      @include sp_font_size(40);
      color: $fontBlack;
      background: $athensGray;
      font-weight: 400;
      line-height: 1;
      padding: sp_size(75) sp_size(112) sp_size(75) sp_size(40);
      margin-right: 7px;
      margin-left: 7px;
      position: relative;
      @include border_radius(5px);

      //PC
      @include mq(){
        border: none;
        @include font_size(30);
        padding: 40px 105px 40px 40px;
      }

      &::after { //arrow
        content: "";
        display: inline-block;
        width: sp_size(25);
        height: sp_size(25);
        border: 1px solid $fontBlack;
        border-top: none;
        border-left: none;
        transform: rotateZ(45deg) ;
        position: absolute;
        top: 0;
        right: sp_size(20);
        bottom: 0;
        margin: auto;
        @include transition();

        //PC
        @include mq(){
          width: 14px;
          height: 14px;
          border-width: 2px;
          right: 20px;
        }
      }

      // layeredNav__body 展開時
      &.open {
        &::after {
          transform: rotateZ(-135deg) ;
        }
      }

      // Superscript
      span {
        @include sp_font_size(36);
        line-height: 1;

        //PC
        @include mq(){
          @include font_size(28);
        }

        &.super {
          @include sp_font_size(34);
          font-weight: 400;
          display: block;
          margin-bottom: sp_size(30);

          //PC
          @include mq(){
            @include font_size(20);
            font-weight: 700;
          }
        }
      }
    }
  }

  //layeredNav--03
  &.toggle {

    //PC
    @include mq(){
      margin-right: 0;
      margin-left: 0;
    }

    > figure > .layeredNav__header,
    > figure > .layeredNav__footer {
      + {
        .layeredNav__body {
          margin-top: sp_size(40);

          //PC
          @include mq(){
            margin-top: 40px;
          }
        }
      }
      @include sp_font_size(40);
      color: white;
      text-align: center;
      background: $doveGray;
      font-weight: 700;
      line-height: 1;
      padding: sp_size(60) sp_size(112) sp_size(60) sp_size(40);
      position: relative;
      text-indent: sp_size(70);
      .close {
        display: inline;
      }
      .open {
        display: none;
      }
      &.alignLeft {
        text-indent: 0;

        //PC
        @include mq(){
          text-indent: 0;
        }
      }

      //PC
      @include mq(){
        border: none;
        @include font_size(30);
        padding: 40px 105px 40px 40px;
        text-indent: 60px;
      }

      &::after { //arrow
        content: "";
        display: inline-block;
        width: sp_size(25);
        height: sp_size(25);
        border: 1px solid white;
        border-top: none;
        border-left: none;
        transform: rotateZ(45deg) ;
        position: absolute;
        top: 0;
        right: sp_size(20);
        bottom: 0;
        margin: auto;
        @include transition();

        //PC
        @include mq(){
          width: 14px;
          height: 14px;
          border-width: 2px;
          right: 20px;
        }
      }

      // layeredNav__body 展開時
      &.open {
        .close {
          display: none;
        }
        .open {
          display: inline;
        }
        &::after {
          transform: rotateZ(-135deg) ;
        }
      }

      // Superscript
      span {
        @include sp_font_size(36);
        line-height: 1;

        //PC
        @include mq(){
          @include font_size(28);
        }

        &.super {
          @include sp_font_size(34);
          font-weight: 400;
          display: block;
          margin-bottom: sp_size(30);

          //PC
          @include mq(){
            @include font_size(20);
            font-weight: 700;
          }
        }
      }
    }


    // 影付き
    &.shadow {
      > figure > .layeredNav__header,
      > figure > .layeredNav__footer {
        @include box_shadow(rgba(0, 0, 0, 0.3) 0 15px 15px -15px);
        &.open {
          @include box_shadow(none);
        }
      }
    }

  }

  .layeredNav__body {
    display: none;
    //会議OK
    //margin-right: 15px;
    //margin-left: 15px;
    //margin-right: 7px;
    //margin-left: 7px;
    padding: 0 7px 30px;



    //PC
    @include mq(){
      padding-bottom: 100px;
    }

    .layeredNav__body {
      padding-right: 0;
      padding-left: 0;
    }
  }
}