
//---------------------------
// blockskip
//---------------------------
#blockskip {
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 0;
    idth: 100%;
    height: 0;
}

#blockskip a {
    display: block;
    background: #272F89;
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
    color: #ffffff;
    text-decoration: none;
}

#blockskip a:hover {
    text-decoration: underline;
}

#blockskip a:focus {
    text-decoration: underline;
}

#blockskip.show {
    color: #ffffff;
    height: 3em;
    margin-top: 0;
    padding: 0;
    line-height: 1.5;
    cursor: pointer;
}

//---------------------------
// topicpath
//---------------------------
#topicpath {
    padding: 10px 15px;
    box-sizing: border-box;
    line-height: 1.5;

    position: relative;
    //z-index: 4;
    z-index: 0;
    //background-color: #fff;

    font-size: variableFontSize(12);
    @include mq(){
        //min-width: 1200px;
        width: 1200px;
        margin: 0 auto;
        padding-right: 40px;
        padding-left: 40px;
        box-sizing: border-box;
    }
    li {
        display: inline-block;
        &:after {
            content: "\3E";
            display: inline-block;
            vertical-align: baseline;
            background: url(/resources/img/cmn/ic_breadcrumb.svg) no-repeat 50% 50%;
            background-size: cover;
            padding: 6px 0 1px 7px;
            margin: 0 0 0 6px;
            width: 0;
            height: 0;
            overflow: hidden;
        }
        &:last-child {
            &:after {
                background: none;
            }
        }
    }

    @include mq(sp){
        display: none;
    }
}



//---------------------------
// page_nav_area
//---------------------------
.page_nav_area {

    background: $white;
    //z-index: 1;
    z-index: 11;

    //shadow
    position: relative;
    box-shadow: 0px 4px 8px rgba(40, 40, 40, 0.16);

    > ul {
        @include mq(){
            //min-width: 1200px;
        }
    }

    ._nav_btn {
        //display: none;
        //border-bottom: 1px solid $darkgray;

        &.active {
            @include mq(sp){
                height: 56px;
                display: flex;
                align-items: center;
                padding: 0 16px;
                box-sizing: border-box;
            }
        }

        button {
            width: 100%;
            height: 100%;
            background: $white;
            border: none;
            text-align: left;
            font-size: variableFontSize(14);
            outline: none;
            cursor: pointer;

            &.active{
                .icoAcLinkAfter{
                    transform: rotate(180deg);
                    &:before{
                        opacity: 0;
                    }
                }
            }
        }
        + .nav_list {
            @include mq(sp){
                //border-top: 1px solid $darkgray;
                li {
                    //padding: 0;
                    a {
                        height: 33px;
                    }
                }
            }
        }

        &.active {
            + .nav_list {
                @include mq(sp){
                    border-top: 1px solid $darkgray;
                }
            }
        }

        .icoAcLinkAfter{
            display: inline-block;
            width: 32px;
            height: 32px;
            position: absolute;
            //right: -1em;
            right: 90px;
            top: calc(50% - 16px);
            transition: transform 300ms;
            @include mq(sp){
                top: 20px;
                width: 17px;
                height: 17px;
                right: 16px;
            }
            &:before{
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -1px;
                border-top: 2px solid $black;
                width: 32px;
                height: 0px;
                transform: rotate(90deg);
                transition: opacity 220ms ease 22ms;
                @include mq(sp){
                    width: 17px;
                }
            }
            &:after{
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -1px;
                border-top: 2px solid $black;
                width: 32px;
                height: 0px;
                @include mq(sp){
                    width: 17px;
                }
            }
        }
        
    }
    nav {
        @include mq(){
            //min-width: 1200px;
            //width: 100%;
            width: 1200px;
            margin: 0 auto;
            //padding: 0 40px;
            box-sizing: border-box;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;

        @include mq(){
            //justify-content: space-between;
            justify-content: center;
            //align-items: center;
        }
        li {
            display: flex;
            align-items: center;
            box-sizing: border-box;

            @include mq(sp){
                width: calc(100% / 2);
                border-bottom: 1px solid $darkgray;
                //border-right: 1px solid $darkgray;
                text-align: center;
                padding: 12px 0;

                &:nth-last-child(2),
                &:last-child {
                    border-bottom: none;
                }
            }
            @include mq(){
                //border-right: 1px solid $darkgray;
                //margin: 12px 0;
                padding: 12px 0;
                background: $white url(/resources/img/cmn/pagenav_line.svg) no-repeat left center;
                background-size: 1px 48px;

                &.active {
                    background-color: $lightblue;
                }
                &:hover {
                    background: $lightblue url(/resources/img/cmn/pagenav_line.svg) no-repeat left center;
                    background-size: 1px 48px;
                }
                &:first-child {
                    background-image: none;
                    background-color: $white;
                    &.active {
                        background-color: $lightblue;
                    }
                    &:hover {
                        background-image: none;
                        background-color: $lightblue;
                    }
                }
            }


            a {
                font-size: variableFontSize(14);
                width: 100%;
                text-decoration: none !important;
                @include mq(){
                    font-size: variableFontSize(16);
                    height: 48px;
                    display: flex;
                    align-items: center;
                }
                //&:hover {
                    //text-decoration: underline !important;
                //}
                @include mq(sp){
                    display: flex;
                    align-items: center;
                    //padding: 12px 0;
                    box-sizing: border-box;
                }
        
                //アイコン
                &:after {
                    content: "";
                    display: inline-block;
                    vertical-align: baseline;
                    background: url(/resources/img/cmn/ic_arrow_down_black.svg) no-repeat 50% 50%;
                    background-size: 7px 12px;
                    padding: 7px 0 0 12px;
                    margin: 0 12px 0 0;
                    width: 0;
                    height: 0;
                    overflow: hidden;
                    background-size: contain;
                }
            }

            //お問い合わせ用
            &.apply {
                a {
                    &:after {
                        transform: rotate(270deg) translateY(0);
                        @include mq(sp){
                            transform: rotate(270deg) translateY(15%);
                        }
                        width: 7px;
                        height: 12px;
                        background-size: 12px 7px !important;
                    }
                }
            }

            span {
                display: inline-block;
                width: 100%;
                box-sizing: border-box;
                line-height: 1.5;

                @include mq(){
                    //padding: 0 20px;
                    padding: 0 0 0 20px;
                    //border-right: 1px solid $darkgray;
                    box-sizing: border-box;
                    text-align: center;
                }
            }

            &:first-child,
            &:nth-child(2n+1) {
                @include mq(sp){
                    a {
                        border-right: 1px solid $darkgray;
                        //background: url(../img/cmn/page_nav_bar_sp.svg) no-repeat right center;
                    }
                }
                span {
                    @include mq(sp){
                        //border-right: 1px solid $darkgray;
                    }
                }
            }

            &:last-child {
                //span {
                    @include mq(){
                        border-right: none;
                        //background: none;
                    }
                //}
            }


        }

        //col1〜12
        &.col11,
        &.col9,
        &.col7,
        &.col5,
        &.col3,
        &.col1 {
            li {
                @include mq(sp){
                    &:nth-last-child(2) {
                        border-bottom: 1px solid $darkgray;
                    }
                }
            }
        }

        &.col12 {
            li {
                @include mq(){
                    width: calc((100% - 1px) / 12);
                }
            }
        }
        &.col11 {
            li {
                @include mq(){
                    width: calc((100% - 1px) / 11);
                }
            }
        }
        &.col10 {
            li {
                @include mq(){
                    width: calc((100% - 1px) / 10);
                }
            }
        }
        &.col9 {
            li {
                @include mq(){
                    width: calc((100% - 1px) / 9);
                }
            }
        }
        &.col8 {
            li {
                @include mq(){
                    width: calc((100% - 1px) / 8);
                }
            }
        }
        &.col7 {
            li {
                @include mq(){
                    width: calc((100% - 1px) / 7);
                }
            }
        }
        &.col6 {
            li {
                @include mq(){
                    width: calc((100% - 1px) / 6);
                }
            }
        }
        &.col5 {
            li {
                @include mq(){
                    width: calc((100% - 1px) / 5);
                }
            }
        }
        &.col4 {
            li {
                @include mq(){
                    width: calc((100% - 1px) / 4);
                }
            }
        }
        &.col3 {
            li {
                @include mq(){
                    width: calc((100% - 1px) / 3);
                }
            }
        }
        &.col2 {
            li {
                @include mq(){
                    width: calc((100% - 1px) / 2);
                }
            }
        }
        &.col1 {
            li {
                @include mq(){
                    width: 100%;
                }
            }
        }



    }

}

._nav_btn{
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease;
    transition: opacity 0.8s ease;
    display:none;
    &.active{display: block;}
}
._nav_btn.active{
    opacity: 1;
    height: auto;
}

//---------------------------
//local_nav
//---------------------------
#local_nav {
    .c-grid {
        @include mq(sp){
            &.col3 {
                .c-col {
                    + .c-col {
                        margin-top: 24px;
                    }
                }
            }
        }
        @include mq(){
            margin-right: -31px;
            margin-bottom: -27px;;

            //justify-content: space-between;
            &.col3 {
                .c-col {
                    width: calc((100% - 1px) / 3 - 30px);
                    margin-right: 30px;
                    margin-bottom: 27px;
                }
            }
        }
    }
}
