h3.title._lv5{
	font-weight: 600!important;
}

@media screen and (max-width: 767px) {
	strong.underline{
		font-size: 100%;
	}
}


.c-border_block {
  background: #FFF;
  border: 1px solid #D0D0D0;
}
.c-border_block img {
  width: 100%;
}
.c-border_block .c-border_block__inner {
  padding: 0 40px;
}
.c-border_block .c-border_block__inner .c-border_block__item {
  border-bottom: 2px solid #D0D0D0;
  padding: 40px 0;
}
.c-border_block .c-border_block__inner .c-border_block__item:last-of-type {
  border-bottom: none;
}

@media screen and (max-width: 767px) {
  .c-border_block .c-border_block__inner {
    padding: 0 20px;
  }
}
.no_indent {
  line-height: 1.5;
  text-indent: 0 !important;
}

.title_sub {
  font-size: 75%;
}

.c-panel .c-panel__price__inner {
  position: relative;
  padding: 20px 30px;
}
.c-panel .c-panel__price__inner:before {
  background: #D0D0D0;
  content: '';
  display: block;
  height: calc(100% - 40px);
  left: 100%;
  margin-left: -2px;
  position: absolute;
  top: 20px;
  width: 4px;
}
.c-panel .c-panel__price__inner:after {
  content: '+';
  font-family: "Noto Sans JP", sans-serif;
  font-size: 56px;
  font-weight: 900;
  left: 100%;
  line-height: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.c-panel .c-panel__price__inner:last-of-type {
  padding: 20px 20px 20px 30px;
}
.c-panel .c-panel__price__inner:last-of-type:before, .c-panel .c-panel__price__inner:last-of-type:after {
  display: none;
}
.c-panel .c-panel__price__inner .c-panel__price__header {
  border-bottom: 2px solid #D0D0D0;
  height: 128px;
}
.c-panel .c-panel__price__inner .c-panel__price__header .price_area {
  margin-top: 4px;
}
.c-panel .c-panel__price__inner .c-panel__price__header .c-txt {
  margin-top: 4px;
  white-space: nowrap;
}
.c-panel .c-panel__price__body {
  padding: 20px 0 0;
}
.c-panel .c-panel__price__body .c-txt {
  margin-bottom: 10px;
}
.c-panel .c-panel__price__body .item_list {
  margin-top: 0;
}
.c-panel .c-panel__price__body .item_list li {
  border-bottom: 2px dashed #D0D0D0;
  font-size: 88.89%;
  line-height: 1.4;
  padding: 10px 0;
}
.c-panel .c-panel__price__body .item_list li:last-of-type {
  border-bottom: none;
}
.c-panel .c-panel__price__body .item_list li .c_red {
  font-size: 90%;
  margin-left: 10px;
}
.c-panel .c-panel__price__body .item_list li.flexBox > span {
  line-height: 1.4;
}
.c-panel .c-panel__price__body .item_list li.flexBox .c-list__price {
  font-size: 20px;
  margin-left: 20px;
  white-space: nowrap;
}
.c-panel .c-panel__price__body .item_list li.flexBox .c-list__price span {
  font-size: 18px;
  font-weight: 700;
}
.c-panel .c-panel__price__bottom {
  margin: 0;
  padding: 40px 20px 30px;
  position: relative;
}
.c-panel .c-panel__price__bottom:before {
  background: url(/resources/img/cmn/ic_thick_arrow.svg) no-repeat 0 0;
  background-size: 100% 100%;
  content: '';
  display: block;
  height: 30px;
  left: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(90deg) scaleY(1.25) translate(-40%, 40%);
          transform: rotate(90deg) scaleY(1.25) translate(-40%, 40%);
  width: 30px;
}
.c-panel .c-panel__price__bottom .c-txt {
  margin-top: 10px;
}
.c-panel._price_4 .c-panel__price__inner .c-panel__price__header {
  border-bottom: none;
}

@media screen and (max-width: 767px) {
  .c-panel {
    /* _sp_price_noflex */
  }
  .c-panel._price_4 .c-panel__price__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px;
  }
  .c-panel._price_4 .c-panel__price__inner:after {
    display: none;
  }
  .c-panel._price_4 .c-panel__price__inner:nth-of-type(1):before {
    height: calc(100% - 20px);
    margin-left: -1px;
    top: 20px;
    width: 2px;
  }
  .c-panel._price_4 .c-panel__price__inner:nth-of-type(1):after {
    display: block;
    left: 100%;
    top: 98%;
    z-index: 10;
  }
  .c-panel._price_4 .c-panel__price__inner:nth-of-type(2):before {
    height: 2px;
    left: 0;
    margin: -1px 0 0 0;
    top: 100%;
    width: calc(100% - 20px);
  }
  .c-panel._price_4 .c-panel__price__inner:nth-of-type(3) {
    padding: 15px 15px 25px;
  }
  .c-panel._price_4 .c-panel__price__inner:nth-of-type(3):before {
    height: 2px;
    left: 20px;
    margin: -1px 0 0 0;
    top: 0;
    width: calc(100% - 20px);
  }
  .c-panel._price_4 .c-panel__price__inner:nth-of-type(4) {
    padding: 15px 15px 25px;
  }
  .c-panel._price_4 .c-panel__price__inner:nth-of-type(4):before {
    display: block;
    height: calc(100% - 30px);
    left: 0;
    margin-left: -1px;
    top: 0;
    width: 2px;
  }
  .c-panel._price_4 .c-panel__price__inner .c-panel__price__header {
    height: auto;
  }
  .c-panel._price_4 .c-panel__price__inner .c-panel__price__header .c-txt {
    white-space: normal;
  }
  .c-panel._price_4 .c-panel__price__inner .c-panel__price__header .price_area {
    margin-top: 4px;
  }
  .c-panel._price_4 .c-panel__price__inner .c-panel__price__header .price_area strong {
    font-size: 22px;
  }
  .c-panel._price_4 .c-panel__price__inner .c-panel__price__header .price_area span {
    font-size: 16px;
  }
  .c-panel._price_4 .c-panel__price__bottom {
    border-top: 2px solid #D0D0D0;
    padding: 40px 20px 30px;
  }
  .c-panel._price_4 .c-panel__price__bottom:before {
    height: 24px;
    width: 24px;
  }
  .c-panel._price_4 .c-panel__price__bottom .price_area {
    font-size: 15px;
  }
  .c-panel._price_4 .c-panel__price__bottom .price_area .price_badge {
    padding: 2px 10px 3px;
  }
  .c-panel._price_4 .c-panel__price__bottom .price_area .price_num strong {
    font-size: 160%;
  }
  .c-panel._price_4 .c-panel__price__bottom .price_area .price_num span {
    font-size: 120%;
  }
  .c-panel._price_4 .c-panel__price__bottom .c-txt {
    margin-top: 8px;
  }
  .c-panel._sp_price_noflex .c-panel__price__inner {
    width: 100%;
    border-bottom: 2px solid #D0D0D0;
    padding: 20px 20px 30px;
  }
  .c-panel._sp_price_noflex .c-panel__price__inner:before {
    display: none;
  }
  .c-panel._sp_price_noflex .c-panel__price__inner:after {
    font-size: 48px;
    left: 50%;
    margin-top: -1px;
    top: 100%;
  }
  .c-panel._sp_price_noflex .c-panel__price__inner:last-of-type {
    padding: 40px 20px 20px;
  }
  .c-panel._sp_price_noflex .c-panel__price__inner .c-panel__price__header {
    height: auto;
    padding-bottom: 20px;
  }
  .c-panel._sp_price_noflex .c-panel__price__inner .c-panel__price__header .price_area {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 14px;
  }
  .c-panel._sp_price_noflex .c-panel__price__inner .c-panel__price__header .price_area .price_num strong {
    font-size: 150%;
    margin-left: 10px;
  }
  .c-panel._sp_price_noflex .c-panel__price__inner .c-panel__price__header .price_area .price_num span {
    font-size: 100%;
  }
  .c-panel._sp_price_noflex .c-panel__price__body .c-txt {
    margin-bottom: 5px;
  }
  .c-panel._sp_price_noflex .c-panel__price__body .item_list li .c_red {
    display: block;
    margin: 5px 0 0;
  }
  .c-panel._sp_price_noflex .c-panel__price__body .item_list li.flexBox {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c-panel._sp_price_noflex .c-panel__price__body .item_list li.flexBox > span {
    line-height: 1.4;
  }
  .c-panel._sp_price_noflex .c-panel__price__body .item_list li.flexBox .c-list__price {
    font-size: 22px;
    padding-left: 10px;
    white-space: nowrap;
  }
  .c-panel._sp_price_noflex .c-panel__price__body .item_list li.flexBox .c-list__price span {
    font-size: 16px;
  }
  .c-panel._sp_price_noflex .c-panel__price__bottom {
    border-top: 2px solid #D0D0D0;
    padding: 40px 20px 30px;
  }
  .c-panel._sp_price_noflex .c-panel__price__bottom:before {
    height: 24px;
    width: 24px;
  }
  .c-panel._sp_price_noflex .c-panel__price__bottom .price_area {
    font-size: 15px;
  }
  .c-panel._sp_price_noflex .c-panel__price__bottom .price_area .price_badge {
    padding: 2px 10px 3px;
  }
  .c-panel._sp_price_noflex .c-panel__price__bottom .price_area .price_num strong {
    font-size: 160%;
  }
  .c-panel._sp_price_noflex .c-panel__price__bottom .price_area .price_num span {
    font-size: 120%;
  }
  .c-panel._sp_price_noflex .c-panel__price__bottom .c-txt {
    margin-top: 8px;
  }
}
.icon-plus {
  display: block;
  height: 40px;
  margin: 20px auto;
  position: relative;
  width: 40px;
}
.icon-plus:before, .icon-plus:after {
  background: #000;
  content: '';
  display: block;
  position: absolute;
}
.icon-plus:before {
  height: 4px;
  margin-top: -2px;
  left: 0;
  top: 50%;
  width: 100%;
}
.icon-plus:after {
  height: 100%;
  left: 50%;
  margin-left: -2px;
  top: 0;
  width: 4px;
}

.flex_align-flex_end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ac_area {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.stepList.col7 li {
  width: calc((100%/7) + 5px);
}

.step-header .step_ctgr {
  font-size: 16px;
  padding: 3px 16px;
}

.c-step-flow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 750px;
}
.c-step-flow .c-step-flow__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 33.33%;
}
.c-step-flow .c-step-flow__item .circle {
  position: relative;
  z-index: 1;
}
.c-step-flow .c-step-flow__item .title {
  margin-top: 16px;
  text-align: center;
  width: 100%;
}
.c-step-flow .c-step-flow__item:after {
  background: #0072BC;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  top: 19px;
  width: 100%;
}
.c-step-flow .c-step-flow__item:last-of-type:after {
  display: none;
}

@media screen and (max-width: 767px) {
  .c-step-flow {
    display: block;
  }
  .c-step-flow .c-step-flow__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 auto 16px;
    padding-left: 42px;
    position: relative;
    width: 170px;
  }
  .c-step-flow .c-step-flow__item .circle {
    left: 0;
    position: absolute;
    top: 0;
  }
  .c-step-flow .c-step-flow__item .title {
    margin: 0;
    text-align: left;
  }
  .c-step-flow .c-step-flow__item:after {
    height: 100%;
    left: 16px;
    top: 60%;
    width: 2px;
  }
}
.c-step-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.c-step-list li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  width: 456px;
}
.c-step-list li i {
  text-align: center;
  width: 40px;
}
.c-step-list li i img {
  display: inline-block;
  width: 20px;
}
.c-step-list li span {
  line-height: 1.4;
  width: calc(100% - 40px);
}

.arrow_down {
  display: block;
  height: 40px;
  margin: 20px auto;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 40px;
}
.arrow_down img {
  height: 100%;
  -webkit-transform: scaleY(1.25);
          transform: scaleY(1.25);
  width: 100%;
}

@media screen and (max-width: 767px) {
  .arrow_down {
    height: 20px;
    margin: 20px auto;
    width: 20px;
  }
}
.c-ntt_w {
  font-size: 57.14%;
  margin-right: 8px;
  padding: 3px 16px;
  position: relative;
  top: -2px;
}
#application h3.title._lv5{
	font-size: 20px!important;
}
#application .c-panel .panel_btn span{
	font-size: 20px!important;
}
#application .c-panel .panel_btn span small{
	font-size: 18px!important;
}
@media screen and (max-width: 767px) {
	#application .c-panel{
		padding-left: 0!important;
		padding-right: 0!important;
	}
	#application h3.title._lv5{
		font-size: 18px!important;
	}
	#application .c-txt{
		font-size: 16px!important;
	}
	#application .c-panel .panel_btn a{
		padding-top: 10px!important;
	}
	#application .c-panel .panel_btn span{
		font-size: 18px!important;
	}
	#application .c-panel .panel_btn span small{
		font-size: 16px!important;
	}
}

/*# sourceMappingURL=kouji.css.map */