h3.title._lv5 {
  font-weight: 600 !important;
}

@media screen and (max-width: 767px) {
  strong.underline {
    font-size: 100%;
  }
}

.title_sub {
  font-size: 75%;
}

.title_sub.-s {
  font-size: 50%;
}

.c-panel {
  /* c-panel__item */
}

.c-panel .c-panel__price__inner {
  position: relative;
}

.c-panel .c-panel__price__inner:first-of-type {
  padding: 20px 30px 20px 20px;
}

.c-panel .c-panel__price__inner:first-of-type:before {
  background: #D0D0D0;
  content: '';
  display: block;
  height: calc(100% - 40px);
  left: 100%;
  margin-left: -2px;
  position: absolute;
  top: 20px;
  width: 4px;
}

.c-panel .c-panel__price__inner:first-of-type:after {
  content: '+';
  font-family: "Noto Sans JP", sans-serif;
  font-size: 56px;
  font-weight: 900;
  left: 100%;
  line-height: 1;
  position: absolute;
  top: 146px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.c-panel .c-panel__price__inner:last-of-type {
  padding: 20px 20px 20px 30px;
}

.c-panel .c-panel__price__inner .c-panel__price__header {
  border-bottom: 2px solid #D0D0D0;
  height: 128px;
}

.c-panel .c-panel__price__inner .c-panel__price__header .price_area {
  margin-top: 8px;
}

.c-panel .c-panel__price__inner .c-panel__price__header .c-txt {
  margin-top: 8px;
}

.c-panel .c-panel__price__body {
  padding: 20px 0 0;
}

.c-panel .c-panel__price__body .c-txt {
  margin-bottom: 10px;
}

.c-panel .c-panel__price__body .item_list {
  margin-top: 0;
}

.c-panel .c-panel__price__body .item_list li {
  border-bottom: 2px dashed #D0D0D0;
  font-size: 88.89%;
  line-height: 1.4;
  padding: 10px 0;
}

.c-panel .c-panel__price__body .item_list li:last-of-type {
  border-bottom: none;
}

.c-panel .c-panel__price__body .item_list li .c_red {
  font-size: 90%;
  margin-left: 10px;
}

.c-panel .c-panel__price__body .item_list li.flexBox .c-list__price {
  font-size: 20px;
}

.c-panel .c-panel__price__body .item_list li.flexBox .c-list__price span {
  font-size: 18px;
  font-weight: 700;
}

.c-panel .c-panel__price__bottom {
  margin: 0;
  padding: 40px 20px 30px;
  position: relative;
}

.c-panel .c-panel__price__bottom:before {
  background: url(/resources/img/cmn/ic_thick_arrow.svg) no-repeat 0 0;
  background-size: 100% 100%;
  content: '';
  display: block;
  height: 30px;
  left: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(90deg) scaleY(1.25) translate(-40%, 40%);
  transform: rotate(90deg) scaleY(1.25) translate(-40%, 40%);
  width: 30px;
}

.c-panel .c-panel__price__bottom .c-txt {
  margin-top: 10px;
}

.c-panel.c-panel__item {
  margin: 0 0 20px !important;
}

.c-panel.c-panel__item .panel_header .title {
  font-size: 24px !important;
}

.c-panel.c-panel__item .panel_header .price_area {
  margin-top: 10px;
}

.c-panel .price_area .price_badge.badge {
  padding-bottom: 2px;
  padding-top: 0;
}

.c-panel.c-panel__item .c-panel__price__body {
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .c-panel {
    /* c-panel__item */
  }

  .c-panel .c-panel__price__inner {
    width: 100%;
  }

  .c-panel .c-panel__price__inner:first-of-type {
    border-bottom: 2px solid #D0D0D0;
    padding: 20px 20px 30px;
  }

  .c-panel .c-panel__price__inner:first-of-type:before {
    display: none;
  }

  .c-panel .c-panel__price__inner:first-of-type:after {
    font-size: 48px;
    left: 50%;
    margin-top: -1px;
    top: 100%;
  }

  .c-panel .c-panel__price__inner:last-of-type {
    padding: 40px 20px 20px;
  }

  .c-panel .c-panel__price__inner .c-panel__price__header {
    height: auto;
    padding-bottom: 20px;
  }

  .c-panel .c-panel__price__inner .c-panel__price__header .price_area {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: 14px;
  }

  .c-panel .c-panel__price__inner .c-panel__price__header .price_area .price_num strong {
    font-size: 150%;
    margin-left: 10px;
  }

  .c-panel .c-panel__price__inner .c-panel__price__header .price_area .price_num span {
    font-size: 100%;
  }

  .c-panel .c-panel__price__body .c-txt {
    margin-bottom: 5px;
  }

  .c-panel .c-panel__price__body .item_list li .c_red {
    display: block;
    margin: 5px 0 0;
  }

  .c-panel .c-panel__price__body .item_list li.flexBox {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .c-panel .c-panel__price__body .item_list li.flexBox>span {
    line-height: 1.4;
  }

  .c-panel .c-panel__price__body .item_list li.flexBox .c-list__price {
    font-size: 22px;
    padding-left: 10px;
    white-space: nowrap;
  }

  .c-panel .c-panel__price__body .item_list li.flexBox .c-list__price span {
    font-size: 16px;
  }

  .c-panel .c-panel__price__bottom {
    border-top: 2px solid #D0D0D0;
    padding: 40px 20px 30px;
  }

  .c-panel .c-panel__price__bottom:before {
    height: 24px;
    width: 24px;
  }

  .c-panel .c-panel__price__bottom .price_area {
    font-size: 24px;
  }

  .c-panel .c-panel__price__bottom .price_area .price_badge {
    padding: 0px 10px 1px;
    font-size: 80% !important;
  }

  .c-panel .c-panel__price__bottom .price_area .price_num strong {
    font-size: 160%;
  }

  .c-panel .c-panel__price__bottom .price_area .price_num span {
    font-size: 100%;
  }

  .c-panel .c-panel__price__bottom .c-txt {
    margin-top: 8px;
  }

  .c-panel.c-panel__item {
    margin: 0 0 20px !important;
  }

  .c-panel.c-panel__item .panel_header .title {
    font-size: 20px !important;
  }

  .c-panel.c-panel__item .panel_header .price_area {
    font-size: 24px;
  }

  .c-panel.c-panel__item .panel_header .price_area .price_badge {
    padding: 0px 10px 1px;
    font-size: 80% !important;
  }

  .c-panel.c-panel__item .panel_header .price_area .price_num strong {
    font-size: 160%;
  }

  .c-panel.c-panel__item .panel_header .price_area .price_num span {
    font-size: 100%;
  }

  .c-panel.c-panel__item .c-panel__price__body {
    padding: 20px;
  }
}

.icon-plus {
  display: block;
  height: 40px;
  margin: 20px auto;
  position: relative;
  width: 40px;
}

.icon-plus:before,
.icon-plus:after {
  background: #000;
  content: '';
  display: block;
  position: absolute;
}

.icon-plus:before {
  height: 4px;
  margin-top: -2px;
  left: 0;
  top: 50%;
  width: 100%;
}

.icon-plus:after {
  height: 100%;
  left: 50%;
  margin-left: -2px;
  top: 0;
  width: 4px;
}

.no_indent {
  line-height: 1.5;
  text-indent: 0 !important;
}

.sec._tab_bottom {
  background: #FFF;
}

.c-border_block {
  background: #FFF;
  border: 1px solid #D0D0D0;
}

.c-border_block img {
  width: 100%;
}

.c-free {
  background: #0099DB;
  padding: 40px;
}

.c-free .c-free_inner {
  background: #FFF;
  margin-top: 30px;
  padding: 40px;
}

.c-free .c-free_inner:first-of-type {
  margin-top: 0;
}

.c-free .c-free_inner .badge {
  border-radius: 30px;
}

@media screen and (max-width: 767px) {
  .c-free {
    padding: 20px;
  }

  .c-free .c-free_inner {
    margin-top: 20px;
    padding: 20px 10px;
  }
}

/*# sourceMappingURL=style.css.map */

.hp_align-item_flex {
  align-items: flex-start;
}
